<p id="notice"><%= notice %></p>

<p>
  <strong>Todo:</strong>
  <%= @milestone.todo %>
</p>

<p>
  <strong>Review:</strong>
  <%= @milestone.review %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
